body{
    font-family: 'Open Sans', sans-serif;
}
header{
    padding: 45px 0;
    border-bottom: 2px solid #E5E5E5;
}
.container{
    width: 1025px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container a{
    color: #323332;
    font-size: 23px;
    padding: 8px 26px 8px 12px;
}
.container a:hover{
    background-color: #323332 ;
    color: #fff;
}
ul{
    display: flex;
}
/**/
.top-slide{
    width: 1025px;
    margin: 0 auto;
    padding: 115px 0 60px ;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.main-text{
    color: #5D5D5D;
}
.top-slide h2{
  /*   border: 1px solid ;*/
    /* display: inline-block; */
    margin-right: 60px;
    width: 320px;
    font-weight: 400;
    font-size: 60px; 
}
.top-slide h3{
  /*   border: 1px solid blue;*/ 
    /* display: inline-block; */
    font-weight: 400;
    font-size: 45px; 
}
.video-review-btn a{
    color: #fff;
}
.video-review-btn a::before{
    content: url( ' ../img/cam.png ' );
}
.video-review-btn{
  /*   border: 1px solid red ;*/
    display: inline-block;
    background-color:#323332;
    color: #fff;
    padding: 5px 15px;
    margin-top: 15px;
    cursor: pointer;
}
/**/
.article{
    width: 1025px;
    margin: 0 auto;
}
.posts{
    width: 60%;
    margin-top: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.post{
   /*  border: 1px solid red ; */
    margin-top: 50px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
